<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="primaryKey" value="yourPrimaryKey" />
    <add key="luisAppID" value="202f340a-3cbf-4bf1-a183-2d16f467b4e6" />
    <add key="luisSubscriptionID" value="1554a8822484489381a1b371d28266a1" />
    <add key="BingSpeechSubscriptionID" value="a810fcfb3d684ee393c97fd3c6c2c262"/>
  </appSettings>
</configuration>